<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>dev.bozz.daemon</string>
	<key>RunAtLoad</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/yarn</string>
		<string>start</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/shuji/github.com/shuji-koike/bozz</string>
	<key>StandardOutPath</key>
	<string>/Users/shuji/.bozz/logs/daemon.out</string>
	<key>StandardErrorPath</key>
	<string>/Users/shuji/.bozz/logs/daemon.err</string>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SockServiceName</key>
			<string>1080</string>
			<key>SockType</key>
			<string>stream</string>
			<key>SockProtocol</key>
			<string>TCP</string>
		</dict>
	</dict>
</dict>
</plist>
